<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Self Service</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/css/pnotify.css" rel="stylesheet" />
    <link href="~/Content/css/pnotify.buttons.css" rel="stylesheet" />
    <link href="~/Content/css/pnotify.nonblock.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/js/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body id="page-top">
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                <div class="sidebar-brand-text mx-3">IQ Business <sup>HR</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Landing</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Employees</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Employees","Home")">List</a>
                        <a class="collapse-item" href="@Url.Action("EmployeeDetails","Home")">Add</a>
                    </div>
                </div>
            </li>



        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div><h5>Employee Self Service</h5></div>
                    </form>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © G. Baloyi 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryeasing")
    @Scripts.Render("~/bundles/sbadmin")
    <script src="~/Content/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/js/pnotify.js"></script>
    <script src="~/Content/js/pnotify.buttons.js"></script>
    <script src="~/Content/js/pnotify.nonblock.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
